[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fbchat = "*"
"win10toast" = "*"
"beautifulsoup4" = "*"
youtube-dl = "*"
pelican = "*"
markdown = "*"
kivy = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
